@charset "ISO-8859-1";
 
/* Aligning and styling the main heading */
h1{
	text-align: center;
	font-family: cursive;
	background-color: rgba(0,0,255,0.3);
}

p{
	color: black;
}

h2{
	font-family: cursive;
}

/* Setting the colour for the unordered lists */
ul{
	color: white;
}

/* Setting the background colour for the page */
body{
	
	background-color: grey;
}	

/* Image class that sets attributes for the image on the webpage */
.img-css{
	
	width:500px;
	border-radius: 8px;
	display: block;
	margin-left:auto;
	margin-right: auto;
}

/* Image class that sets attributes for the image on the webpage */
.img2-css{
	
	float: right;
	width: 700px;
	border-radius: 8px;
	display: block;
	margin-left: auto;
}



